body {
    font-family: Arial, sans-serif;
    background-color: #e7e7e7; 
    margin: 0;
    padding: 0;
  }
  
  .container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  

/* Navbar Styles */
.custom-navbar {
    background-color: #007BFF;
    color: white;
    padding: 10px 0;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid #0056b3;
    position: relative;
}

/* Navigation Link Styles */
.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    margin: 0 10px;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #0056b3; 
}


/* Realtime Data Table Styles */

.RealtimeTable {
    
    border-collapse: collapse;
    max-width: 1600px;
    margin: 0 auto;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.RealtimeTable th,
.RealtimeTable td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RealtimeTable th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

.RealtimeTable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.RealtimeTable tr:nth-child(odd) {
    background-color: #ffffff;
}

.RealtimeTable tr:hover {
    background-color: #d3d3d3;
}

.RealtimeTable td {
    color: #333;
    font-size: 14px;
}

.RealtimeTable .pagination {
    margin: 0;
}

.RealtimeTable .page-current {
    background-color: #007BFF;
    color: white;
    border: 1px solid #007BFF;
}

.RealtimeTable .page:hover {
    background-color: #f2f2f2;
}
